* {
  box-sizing: border-box;
}

body {
  font-family: san-serif;
  margin: 0;
}

#product-overview {
  background: #ff1b68;
  /* padding: 20px;
  border: 5px black solid;
  margin: 20px; */
  width: 100%;
  height: 528px;
  padding: 10px;
  box-sizing: border-box;
}

#product-overview h1 {
  color: white;
  font-family: sans-serif;
}

.section-title {
  color: #2ddf5c;
  font-family: inherit;
}

.main-header {
  /* What if we are using headers somehwere else? 
    Better to a class. */
  width: 100%;
  background: #2ddf5c;
  padding: 8px 16px;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 74px);
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none; /* No bullet points */
}

.main-nav__item {
  display: inline-block;
  color: #0e4f1f;
  list-style: none;
  margin: 0 16px;
}

.main-nav__item a {
  text-decoration: none;
  color: #0e4f1f;
  font-weight: bold;
  padding: 3px 0;
}

/*
.main-nav__item a::after {
  content: " (Link)";
  color: red;
}
*/

/* Below we can group rules
.main-nav__item a:hover {
  color: white;
}

.main-nav__item a:active {
  color: white;
}
*/

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}
/*
p::first-letter {
  color: red;
  font-size: 20px;
}
*/

.main-nav__item--cta a {
  color: white;
  background: #ff1b68;
  padding: 8px 16px;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: #ff1b68;
  background: white;
  border: none;
}
